body {
    margin: 0px;
}

:root {
    --main-bk-img: rgb(227, 224, 224);;
  }

.homepage-container{
    max-width: 100%;
    background-color: var(--main-bk-img);
}   

.homepage-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.image-wrapper-gym {
    background-image: url(../images/gym.jpeg);
    height: 100%;
    background-size: cover;
    background-position-x: 85%;
    object-fit: cover;
    transition: all 2s ease;
}

.image-wrapper-car {
    background-image: url(../images/lambo.jpeg);
    background-size: cover;
    height: 100%;
    background-position-x: 70%;
    object-fit: cover;
    transition: all 2s ease;
}

.image-wrapper-gym:hover, .image-wrapper-car:hover {
    transform: scale(1.1);
}

.gym-background-image, .car-background-image { 
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.gym-background-image:hover .image-wrapper-gym,  .car-background-image:hover .image-wrapper-car{
    opacity: 0.3;
}

.btn-wrapper {
    display: flex;
    justify-content: center;  
}

.car-btn, .gym-btn {
    visibility: hidden;
    transition: all 1.5s ease;
}

.car-background-image:hover .car-btn, .gym-background-image:hover .gym-btn {
    visibility: visible;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 200px;
    cursor: pointer;
    padding: 20px 30px;
    background: black;
    border-radius: 15px;
    color: white;
    font-family: cursive;
    font-size: 24px;
    border: 4px solid white;
    text-decoration: none!important;
}

.car-background-image .car-btn:hover, .gym-background-image .gym-btn:hover {
    background: white;
    border: 4px solid black;
    color: black;

}

@media (max-width: 1000px) {
    .homepage-wrapper {
        flex-direction: column;
    }
    .gym-background-image, .car-background-image {
        height: 50vh;
    }
}

@media (max-width: 500px) {
    .car-background-image:hover .car-btn, .gym-background-image:hover .gym-btn {
        padding: 15px 20px;
    }
}