body {
    margin: 0px;
}

:root {
    --main-bk-img: rgb(227, 224, 224);;
  }

.homepage-container{
    max-width: 100%;
    background-color: var(--main-bk-img);
}   

.homepage-wrapper {
    display: flex;
}

.image-wrapper-gym-mobile {
    display: none;
    background-image: url(../images/gym.jpeg);
    height: 100%;
    transition: all 2s ease;
    background-size: cover;
    background-repeat: no-repeat;

}

.image-wrapper-gym {
    background-image: url(../images/c8515a695eb660bb2a3d66f38479f1b1.jpeg);
    height: 100%;
    transition: all 2s ease;
    background-size: cover;
    background-repeat: no-repeat;
}


.image-wrapper-gym:hover .image-wrapper-gym-mobile:hover{
    transform: scale(1.1);
}

.gym-background-image { 
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.gym-background-image:hover .image-wrapper-gym{
    opacity: 0.3;
}

.btn-wrapper {
    display: flex;
    justify-content: center;  
}

.gym-btn {
    visibility: hidden;
    transition: all 1.5s ease;
}

.gym-background-image:hover .gym-btn {
    visibility: visible;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 200px;
    cursor: pointer;
    padding: 20px 30px;
    background: black;
    border-radius: 15px;
    color: white;
    font-family: cursive;
    font-size: 24px;
    border: 4px solid white;
    text-decoration: none!important;
}

.gym-background-image .gym-btn:hover {
    background: white;
    border: 4px solid black;
    color: black;

}

@media (max-width: 1000px) {
    .image-wrapper-gym-mobile {
        display: flex;
    }
    .image-wrapper-gym {
        display: none;
    }
}

@media (max-width: 500px) {
    .image-wrapper-gym-mobile {
        background-position-x: -300px;
    }
}