
body {
    margin: 0;
}

:root {
    --font-family: 'lemon-milk-pro'
}

/*  nav  */
.nav-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: transparent;
    color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: all 2s ease;
}
.nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 30px 20px;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: bold;
    align-items: center;
}
.login-wrapper {
    display: flex;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: bold;
    align-items: center;
    margin-right: 80px;
}

.nav-wrapper li {
    list-style: none;
}

.login-btn {
    list-style: none;
}

.gym-logo {
    display: flex;
    border-radius: 50%;
    margin: 20px 0px 20px 80px;
}

li.nav-btn {
    padding: 20px 40px;
}

.login-btn {
    background-color: #802525;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 15px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #990606;
}

.nav-container:hover {
        background-color: rgb(57, 56, 56);
}

@media (max-width: 1000px) {
    .nav-container {
        display: none;
    }
}
/*  end nav  */

.gym-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.gym-wrapper {
    width: 2200px;
    margin: 0px 50px;
    position: relative;
    overflow: hidden;
}

.gym-background-desktop {
    background-image: url(../images/wp9484887.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -100px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gym-background-mobile {
    display: none;
    background-image: url(../images/desktop-wallpaper-gyorgy-szilassy-on-one-day-calisthenics-iphone-thumbnail.jpeg);
}

.gym-textbox-container {
    width: 850px;
    background: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 30%;
    left: 5%;
}

.gym-textbox {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.gym-textbox .title {
    font-size: 100px;
    text-transform: uppercase;
}

.gym-textbox .description {
    font-size: 24px;
    width: 700px;
}

.description-and-btn {
    display: flex;
    flex-direction: column;
}

.gain {
    color: #802525;
}

.gym-textbox .description-btn {
    background-color: #802525;
    display: flex;
    justify-content: center;
    padding: 40px 40px;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    font-size: 24px;
    text-transform: capitalize;
}

.gym-textbox .description-btn:hover {
    background-color: #990606;
}

.gym-textbox .login-btn {
    width: 150px;
    font-size: 24px;
    text-transform: capitalize;
    padding: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 20px;
}

@media (max-width:1500px) {
    .gym-background-desktop {
        background-position-x: -400px;
    }
}

@media (max-width:1200px) {
    .gym-background-desktop {
        background-position-x: -550px;
    }
    .gym-logo {
        display: none;
    }
}

@media (max-width:1000px) {
    .gym-background-desktop {
        display: none;
    }
    .gym-background-mobile {
        display: block;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .gym-textbox-container {
        top: 30%;
        width: unset;
    }
    .gym-textbox .description {
        font-size: 20px;
        width: 450px;
    }
    .gym-textbox .title {
        font-size: 52px;
    }
    .buttons {
        gap: 10px;
        flex-direction: column;
    }
    .gym-textbox .description-btn, .gym-textbox .login-btn {
        padding: 10px 20px;
        width: unset;
    }
}

@media (max-width:600px) {
    .gym-background-mobile {
        background-position-x: -125px;
    }
    .gym-wrapper {
        margin: 0px 20px;
    }
    .gym-textbox-container {
        left: unset;
    }
}