
body {
    margin: 0;
}

:root {
    --font-family: 'lemon-milk-pro'
}

/*  nav  */
.nav-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: transparent;
    color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: all 2s ease;
}
.nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 30px 20px;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: bold;
    align-items: center;
}
.login-wrapper {
    display: flex;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: bold;
    align-items: center;
    margin-right: 80px;
}

.nav-wrapper li {
    list-style: none;
}

#login-btn {
    list-style: none;
}

.gym-logo {
    display: flex;
    border-radius: 50%;
    margin: 20px 0px 20px 80px;
}

.nav-container:hover {
        background-color: rgb(57, 56, 56);
        transform: scale(1.1);      
}

@media (max-width: 1000px) {
    .nav-container {
        display: none;
    }
}
/*  end nav  */

.gym-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.gym-wrapper {
    width: 2200px;
    margin: 0px 50px;
    position: relative;
    overflow: hidden;
}

.gym-background {
    background-image: url(../images/wp9484887.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -100px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gym-textbox {
    width: 650px;
    height: 120%;
    background: radial-gradient(#801011, #000000);
    position: absolute;
    left: 12%;
    transform: rotate(15deg);
    top: -10%;
}